/* Add this CSS for the zoom effect */

.hover-zoom img {
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.hover-zoom img:hover {
  transform: scale(1.1);
}

/* Add this CSS for the fade-in animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Image {
  animation: fadeIn 1s ease forwards;
  /* Apply the fadeIn animation to the images */
}

/* Optionally, you can add the same animation to the ListGroup and Pagination components for a consistent effect */

.ListGroup,
.Pagination {
  animation: fadeIn 1s ease forwards;
}

/* You can further customize the animation by adjusting the duration, timing function, and other animation properties as needed. */
